<!DOCTYPE html>
<style type="text/css">
    body {
        padding: 0px;
        margin: 0px;
        background-color: rgb(18, 18, 18);
        font-family: Arial, Helvetica, sans-serif;
    }

    .naglowek {
        background-color: black;
        color: white;
        height: 180px;
        width: 100%;
        font-size: 20px;
        font-weight: bold;
    }
    .napis{
        color: white;
        font-size: 20px;
        font-weight: bold;
    }
</style>
<html>
<head>
    <title></title>
</head>
<body>
<div class="napis">
<form action="{{ url_for('add') }}" method="POST">
    <label>Treść wiadomości:</label></br>
    <input type="text" name="messageValue" id="messageValue"></br>
    <input type="submit" name="submit" value="wyślij!">
</form>
</div>
</body>
</html>